@using ScriptureExercise.Models.MemberVM;
@model MemberCenterVM;

@{
    ViewData["Title"] = "會員中心";

    var examDate = Model.ExamDate;
    var diff = (examDate - DateTime.Now).Days;
}
@section TopCSS{
    <link rel="stylesheet" href="~/css/Member/settings.css">
}
@section Scripts{
    <script>
        const initData = @Html.Raw(JsonSerializer.Serialize( Model.Editable) );
    </script>
    <script src="~/js/Member/settings.js"></script>
}
<div id="vue_member_settings">
    <div class="editable-name">
        <b-form-group 
            :label="fields.name.text"
            label-for="fields-name"
            valid-feedback="合乎要求"
            :invalid-feedback="errMsgs.name"
        >
            <b-form-input 
                id="fields-name"
                v-model="fields.name.value"
                :state="errMsgs.name==''">
            </b-form-input>
            <button class="without-button-style"
                :disabled="errMsgs.name!=''" 
                v-on:click="postName" 
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </b-form-group>
    </div>
    <div class="countDown">
        <div class="countDown__text">
            <div>@(examDate.ToString("yyyy/MM/dd") )</div>
            <div>距離下次筆試還有</div>
        </div>
        <span class="countDown__number"> @diff </span>
        <span class="countDown__unit">天</span>
    </div>

    <div class="editable-account">
        <b-form-group
            :label="fields.account.text" 
            label-for="fields-account"
            valid-feedback="合乎要求"
            :invalid-feedback="errMsgs.account"
        >
            <b-form-input 
                id="fields-account" 
                v-model="fields.account.value" 
                :state="errMsgs.account==''" 
            ></b-form-input>

            <button class="without-button-style"
                :disabled="errMsgs.account!=''" 
                v-on:click="postAccount" 
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </b-form-group>
    </div>

    <div class="editable-password">
        <b-form-group
            label-for="fields-password"
            valid-feedback="合乎要求"
            :invalid-feedback="errMsgs.password" 
        >
            <template #label>
                {{fields.password.text}}
                <b-icon
                :icon="fields.password.visible?'eye':'eye-slash'"
                v-on:click="changeVisible('password')"
                ></b-icon>
            </template>

            <b-form-input 
                id="fields-password" 
                v-model="fields.password.value" 
                :state="errMsgs.password==''" 
                :type="fields.password.visible?'text':'password'"
            ></b-form-input>
                @*:type="fieldPasswordType"*@

            <button class="without-button-style"
                :disabled="errMsgs.password!=''" 
                v-on:click="postPassword" 
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </b-form-group>
    </div>

    <!-- <h4>成就</h4> -->
    <div class="achievements">
        <div class="achievement">
            <h5 class="achievement__title">[ 選擇題 ]</h5>
            <div>
                <span class="achievement__correct-rate">
                    @Math.Round( Model.ChoicesQuestion_Correct*100d/Model.ChoicesQuestion_Done ,1) 
                </span>
                <span class="achievement__unit">%</span>
            </div>
            <div class="achievement__counters">
                <div>
                    總答題數：
                    <span class="achievement__">
                        @Model.ChoicesQuestion_Done
                    </span>
                </div>
                <div>
                    答對題數：
                    <span class="achievement__">
                        @Model.ChoicesQuestion_Correct
                    </span>
                </div>
            </div>
        </div>

        <div class="achievement">
            <h5 class="achievement__title">[ 默寫題 ]</h5>
            <div>
                <span class="achievement__correct-rate">
                    @Math.Round( Model.EssayQuestion_Correct*100d/Model.EssayQuestion_Done ,1) 
                </span>
                <span class="achievement__unit">%</span>
            </div>
            <div class="achievement__counters">
                <div>
                    總答題數：
                    <span class="achievement__">
                        @Model.EssayQuestion_Done
                    </span>
                </div>
                <div>
                    答對題數：
                    <span class="achievement__">
                        @Model.EssayQuestion_Correct
                    </span>
                </div>
            </div>
        </div>
    </div>

    @* <p>目前登入管道：<i class="@Model.LoginThroughIcon"></i></p> *@
    @* <h5>填充題</h5>
    <p>總答格數：@Model.BlankFillQuestion_Done</p>
    <p>答對格數：@Model.BlankFillQuestion_Correct</p> *@
</div>